# farthest point

In [1]:
from structure_comp.comparators import Sampling

/home/kevin/anaconda3/lib/python3.6/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
import pandas as pd 
df = pd.read_csv('/home/kevin/Documents/uni/EPFL/extension_school/cof_project/core_cofs.csv')

In [3]:
df.head()

,Unnamed: 0,density,high,lfs,lifs,lis,low,name,new,pav,pockets,void
0,0,547.660,182.576975,13.19498,13.61190,13.61190,42.700404,18134N3,139.876571,3540.770,0,0.60813
1,1,619.925,202.998613,7.14934,8.64010,8.65257,76.768564,18133N3,126.230049,7023.560,0,0.57731
2,2,1115.100,84.401736,4.09217,4.26472,4.35137,66.888621,18131N3,17.513115,594.114,0,0.17295
3,3,735.312,180.998856,8.87995,8.97578,8.97859,96.221635,18132N3,84.777221,2604.970,0,0.50005
4,4,733.931,177.942818,8.93720,9.07194,9.07194,94.195185,18130N3,83.747634,2620.210,0,0.50203

In [4]:
Sampling.get_farthest_point_samples(dataframe=df, columns=['lfs', 'lifs', 'lis'])

16     18082N2
307    07001N2
14     18100N2
67     17050N2
26     18032N2
10     18101N2
66     17091N3
72     17000N2
109    16280C2
120    16200N2
Name: name, dtype: object